.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
